mainwindow.cpp.autosave
*.autosave
WeldAnalysis.pro.user
WeldAnalysis.pro.user.c5d0600
WeldAnalysis.pro.user
WeldAnalysis.pro.user
WeldAnalysis.pro.user
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/.qmake.stash
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/main.o
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/moc_predefs.h
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/moc_usbwidget.cpp
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/moc_usbwidget.o
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/debug/USBWidget.exe
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile.Debug
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/Makefile.Release
ExternalLibs/build-USBWidget-Desktop_Qt_5_9_0_MinGW_32bit-Debug/ui_usbwidget.h
WeldAnalysis.pro.user.416fb96
